body,
html{
width:100px;
height: 100px;
font-family: 'montserrat', sans-serif;
 background: url(startupimage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
hr{ border-color:#f05f44;
border-width: 3px;
max-width: 85px; 

}
h1{
	font-size: 3rem;
	color: #e2dbdb;
}
.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-primary{
	background-color: #f05f44;
	border-color:#ffffff;
}
.btn-primary:hover {
background-color: #0e4b08; 
border-color:#ffffff;
border-width: 4px;
}
.btn-xl{
padding: 1rem 2rem;
}
.buffer{
	height: 10rem;
}